.game-part{
	display:inline-block;
	width:570px;
	vertical-align: top;
}

#bouton{
	background:transparent;
	height:500px;
	border:none;
	padding:10px;
	cursor:url('Tapette.png'), auto;
}


#img{
	max-width: 100%;
	height: auto;
}


#affichage{
	font-size:30px;
	color:red;
}


#multiplicateur, #autoclicker, #birdy-bonus{
	width: 200px;
	padding:10px;
	background-color: yellow;
	display:block;
}

#oiseau{
	position:absolute;
	top: 0;
	left: 150px;
	display:none;
}



.explosion {
  position: absolute;
  width: 600px;
  height: 600px;
  pointer-events: none;
}
.explosion .particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: pop 1s reverse forwards;
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}